 @model List<CRUDPRODUCTO.Models.Producto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="card">
    <div class="card-header">
        <h5>Lista de Productos</h5>
    </div>

    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Producto_Detalle" asp-controller="Home" asp-route-idEmpleado="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Categoria</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreProducto</td>
                        <td>@item.PrecioProducto</td>
                        <td>@item.CantidadProducto</td>
                        <td>@item.oCategoria.NombreCategoria</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Producto_Detalle" asp-controller="Home" asp-route-idProducto="@item.IdProducto">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idProducto="@item.IdProducto">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>





</div>